{% extends 'base.html' %}
{% block content %}
<script>
    function togle1(){
        $(".qna1").toggle();
        $(".qna2").hide();
        $(".qna3").hide();
        $(".qna4").hide();
        $(".qna5").hide();
        $(".qna6").hide();
        $(".qna7").hide();
        $(".qna8").hide();
    }function togle2(){
        $(".qna2").toggle();
        $(".qna1").hide();
        $(".qna3").hide();
        $(".qna4").hide();
        $(".qna5").hide();
        $(".qna6").hide();
        $(".qna7").hide();
        $(".qna8").hide();
    }function togle3(){
        $(".qna3").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna4").hide();
        $(".qna5").hide();
        $(".qna6").hide();
        $(".qna7").hide();
        $(".qna8").hide();
    }function togle4(){
        $(".qna4").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna3").hide();
        $(".qna5").hide();
        $(".qna6").hide();
        $(".qna7").hide();
        $(".qna8").hide();
    }function togle5(){
        $(".qna5").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna3").hide();
        $(".qna4").hide();
        $(".qna6").hide();
        $(".qna7").hide();
        $(".qna8").hide();
    }function togle6(){
        $(".qna6").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna3").hide();
        $(".qna4").hide();
        $(".qna5").hide();
        $(".qna7").hide();
        $(".qna8").hide();
    }function togle7(){
        $(".qna7").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna3").hide();
        $(".qna4").hide();
        $(".qna5").hide();
        $(".qna6").hide();
        $(".qna8").hide();
    }function togle8(){
        $(".qna8").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna3").hide();
        $(".qna4").hide();
        $(".qna5").hide();
        $(".qna6").hide();
        $(".qna7").hide();
    }
</script>
<!-- PC -->
<div class="d-none d-sm-block container-fluid py-3" style="background-color:black;">
    <h1 class="text-center text-white mt-4">FAQ</h1>
    <h4 class="text-center mb-5" style="color:rgb(171,171,171);">자주묻는 질문</h4>
    <div class="row mb-3">
        <div class="col-2"></div>
        <div style="border:1px solid gold" class="col-8 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h2 style="color:gold" class="text-center m-0 font-weight-bold">Q.</h2>
                    </div>
                    <div class="col-10 p-0 text-white">
                        <h5 class="my-2 ml-3">어린아이나 초등학생도 이용할 수 있나요?</h5>
                        
                    </div>
                    <div class="col-1 p-0">
                        <a href="javascript:togle1();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="qna1 p-4" style="display:none;background-color:white">
                            A.
                            <br>
                            저희 루트이스케이프는 영화를 모티브로 만들어진 신개념 방탈출카페입니다!<br>
                            어린아이 남녀노소 누구나 이용할 수 있으며 가족단위로 체험 하시는 분들도 많으니 걱정하지마시고<br>
                            <br>
                            많은 애용부탁드릴께요!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-3">
        <div class="col-2"></div>
        <div style="border:1px solid gold" class="col-8 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h2 style="color:gold" class="text-center m-0 font-weight-bold">Q.</h2>
                    </div>
                    <div class="col-10 p-0 text-white">
                        <h5 class="my-2 ml-3">루트이스케이프 안산점 이벤트 안내</h5>
                    </div>
                    <div class="col-1 p-0">
                        <a href="javascript:togle2();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna2" style="display:none;background-color:white">
                            A.
                            <br>
                            ♣ 방 4개 체험 : 영화티켓증정(쿠폰지참)
                            <br>
                            ♣ 블로그 작성 : 영화티켓증정(쿠폰지참)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-3">
        <div class="col-2"></div>
        <div style="border:1px solid gold" class="col-8 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h2 style="color:gold" class="text-center m-0 font-weight-bold">Q.</h2>
                    </div>
                    <div class="col-10 p-0 text-white">
                        <h5 class="my-2 ml-3">루트이스케이프가 무엇입니까?</h5>
                    </div>
                    <div class="col-1 p-0">
                        <a href="javascript:togle3();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna3" style="display:none;background-color:white">
                            A.<br>
                            RootEscape 는 다른 방탈출카페 와는 다르게 영화를 테마로한 방탈출 카페 이며 참가자가<br>

                            실제 상황을 방불케 하는 테마 룸에 입장하여 60분 이내에 테마 룸을 탈출하거나, <br>

                            주어진 미션을 해결하는 신개념 문화/여가 시설입니다. <br>

                            참가자 입장 후 테마 룸의 출입구는 봉쇄되며 참가자 스스로 테마 속에 숨겨진<br> 

                            암호를 풀이하여 빠져 나오거나 미션을 해결해야 합니다.   <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-3">
        <div class="col-2"></div>
        <div style="border:1px solid gold" class="col-8 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h2 style="color:gold" class="text-center m-0 font-weight-bold">Q.</h2>
                    </div>
                    <div class="col-10 p-0 text-white">
                        <h5 class="my-2 ml-3">예약은 완료되었은데 언제까지 도착하면 되나요 ?</h5>
                    </div>
                    <div class="col-1 p-0">
                        <a href="javascript:togle4();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna4" style="display:none;background-color:white">
                            A.<br>
                            원활한 입장을 위하여 적어도 예약시간 10분 이전에는 매장에 도착하여 주시기 바랍니다.<br>
                            만약 시작 시간으로부터 10분 이상 늦으실 경우, 본 예약은 자동으로 취소되는 점 유의하시기 바랍니다. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-3">
        <div class="col-2"></div>
        <div style="border:1px solid gold" class="col-8 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h2 style="color:gold" class="text-center m-0 font-weight-bold">Q.</h2>
                    </div>
                    <div class="col-10 p-0 text-white">
                        <h5 class="my-2 ml-3">가격안내</h5>
                    </div>
                    <div class="col-1 p-0">
                        <a href="javascript:togle5();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna5" style="display:none;background-color:white">
                            A.<br>
                            * 무비이스케이프 의 입장료입니다.<br>
                            * 인원수에 대한 할인금액은 아래를 참조하세요 ^^<br>
                            * Facebook 좋아요&공유하기 하면 1인당 1,000원씩 할인!!<br>
                            <table class="table table-bordered text-center">
                              <thead class="thead-dark">
                                <tr>
                                  <th style="width:13%" scope="col">인원수</th>
                                  <th style="width:10%" scope="col">현금</th>
                                  <th style="width:10%" scope="col">카드</th>
                                  <th scope="col">가격 이벤트</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">2명</th>
                                  <td>20,000</td>
                                  <td>22,000</td>
                                  <td rowspan="7">
                                      <ul class="text-left">
                                          <li><h1 class="font-weight-bold">4방 체험 시:제주왕복항공+ 48시간 렌트 or 요트여행권 증정</h1></li><br>
                                          <li><h1 class="font-weight-bold">성인 단체 (15명 이상) : 50% 할인</h1></li>
                                      </ul>
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row">3명</th>
                                  <td>18,000</td>
                                  <td>20,000</td>
                                </tr>
                                <tr>
                                  <th scope="row">4명</th>
                                  <td>16,000</td>
                                  <td>18,000</td>
                                </tr>
                                <tr>
                                  <th scope="row">5명</th>
                                  <td>14,000</td>
                                  <td>16,000</td>
                                </tr>
                                <tr>
                                  <th scope="row">6명</th>
                                  <td>13,000</td>
                                  <td>15,000</td>
                                </tr>
                                <tr>
                                  <th scope="row">중ㆍ고생</th>
                                  <td>13,000</td>
                                  <td>15,000</td>
                                </tr>
                                <tr>
                                  <th scope="row">초등생</th>
                                  <td>10,000</td>
                                  <td>12,000</td>
                                </tr>
                              </tbody>
                            </table>
                            * 특별한 이벤트를 원하시면 바로 전화 문의주세요 ^^ 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-3">
        <div class="col-2"></div>
        <div style="border:1px solid gold" class="col-8 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h2 style="color:gold" class="text-center m-0 font-weight-bold">Q.</h2>
                    </div>
                    <div class="col-10 p-0 text-white">
                        <h5 class="my-2 ml-3">입장 제한 및 환불 불가 안내</h5>
                    </div>
                    <div class="col-1 p-0">
                        <a href="javascript:togle6();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna6" style="display:none;background-color:white">
                            A.
                            <br>
                            <ul>
                                <li>지각 및 No Show<br>
                                미션은 시간대 별 예약으로 진행되어, 시작 최소 10분 전에 도착하는 것이 중요합니다.
                                No show(불참)의 경우 환불은 되지 않습니다.</li>
                                <li> 미성년자<br>
                                미션 중 연령 제한이 있는 경우가 있으니 예약시 반드시 확인해 주세요.
                                19세이상 게임의 경우 신분증 제시를 요청할 수 있습니다.</li>
                                <li>과도한 음주자<br>
                                쾌적한 환경을 위해 혈중 알코올 농도 0.1% 이상인 경우 입장이 제한 될 수 있습니다.
                                (게임 전 음주 측정 요구 가능)</li>
                                <li>폐소공포증 및 심장 질환자, 임산부<br>
                                미션을 수행하기 위한 공간은 해당 테마에 맞춰 최대한 리얼리티를 살리도록 설계 되어,
                                게임시간 동안 경우에 따라 공간이 폐쇄되어 갇히거나 참여자의 신체가 구속될 수 있으므로
                                관련된 질병이나 신체장애가 있는 분들은 참여가 어렵습니다.</li>
                                <li>기밀누설<br>
                                법적인 책임 이전에 아직 미션을 경험해 보지 못한 분들을 배려하여,
                                미션을 진행하는 동안 경험한 퀴즈나 퍼즐 등 세부적인 이야기는 팀원들끼리만 공유 부탁드려요.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-3">
        <div class="col-2"></div>
        <div style="border:1px solid gold" class="col-8 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h2 style="color:gold" class="text-center m-0 font-weight-bold">Q.</h2>
                    </div>
                    <div class="col-10 p-0 text-white">
                        <h5 class="my-2 ml-3">게임 도중 몸 상태가 안좋아지면 어떡하나요?</h5>
                    </div>
                    <div class="col-1 p-0">
                        <a href="javascript:togle7();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna7" style="display:none;background-color:white" >
                            A.<br>
                            방탈출 게임이 처음이신 분이시라도 걱정마세요. 직원의 안내에 따라주시면 누구나 쉽게 이용이 가능합니다.<br>

                            또한 플레이 중에도 문의 사항이 있으시면 언제든지 문의 해 주시기 바랍니다.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-5">
        <div class="col-2"></div>
        <div style="border:1px solid gold" class="col-8 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h2 style="color:gold" class="text-center m-0 font-weight-bold">Q.</h2>
                    </div>
                    <div class="col-10 p-0 text-white">
                        <h5 class="my-2 ml-3">방탈출 게임은 처음인데 어떻게 하면 되나요?</h5>
                    </div>
                    <div class="col-1 p-0">
                        <a href="javascript:togle8();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna8" style="display:none;background-color:white" >
                            A.
                            <br>
                            저희 무비이스케이프는 영화를 모티브로 만들어진 신개념 방탈출카페입니다!<br>
                            어린아이 남녀노소 누구나 이용할 수 있으며 가족단위로 체험 하시는 분들도 많으니 걱정하지마시고<br>
                            <br>
                            많은 애용부탁드릴께요!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<!-- 모바일 -->
<div class="d-block d-sm-none container-fluid py-3" style="background-color:black;">
    <h1 class="text-center text-white mt-4">FAQ</h1>
    <h4 class="text-center mb-5" style="color:rgb(171,171,171);">자주묻는 질문</h4>
    <div class="row mb-3">
        <div style="border:1px solid gold" class="col-12 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h4 style="color:gold;line-height:60px" class="text-center m-0 font-weight-bold">Q.</h4>
                    </div>
                    <div class="col-9 p-0 text-white">
                        <h5 class="my-2 ml-3">어린아이나 초등학생도 이용할 수 있나요?</h5>
                        
                    </div>
                    <div class="col-2 p-0">
                        <a href="javascript:togle1();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna1" style="display:none;background-color:white">
                            A.
                            <br>
                            저희 무비이스케이프는 영화를 모티브로 만들어진 신개념 방탈출카페입니다!<br>
                            어린아이 남녀노소 누구나 이용할 수 있으며 가족단위로 체험 하시는 분들도 많으니 걱정하지마시고<br>
                            <br>
                            많은 애용부탁드릴께요!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div style="border:1px solid gold" class="col-12 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h4 style="color:gold;line-height:60px;" class="text-center m-0 font-weight-bold">Q.</h4>
                    </div>
                    <div class="col-9 p-0 text-white">
                        <h5 class="my-2 ml-3">루트이스케이프 안산점 이벤트 안내</h5>
                    </div>
                    <div class="col-2 p-0">
                        <a href="javascript:togle2();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna2" style="display:none;background-color:white" >
                            A.
                            <br>
                            ♣ 방 4개 체험 : 영화티켓증정(쿠폰지참)
                            <br>
                            ♣ 블로그 작성 : 영화티켓증정(쿠폰지참)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div style="border:1px solid gold" class="col-12 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h4 style="color:gold;line-height:60px" class="text-center m-0 font-weight-bold">Q.</h4>
                    </div>
                    <div class="col-9 p-0 text-white">
                        <h5 class="my-2 ml-3">루트이스케이프가 무엇입니까?</h5>
                    </div>
                    <div class="col-2 p-0">
                        <a href="javascript:togle3();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna3" style="display:none;background-color:white" >
                            A.
                            <br>
                            저희 무비이스케이프는 영화를 모티브로 만들어진 신개념 방탈출카페입니다!<br>
                            어린아이 남녀노소 누구나 이용할 수 있으며 가족단위로 체험 하시는 분들도 많으니 걱정하지마시고<br>
                            <br>
                            많은 애용부탁드릴께요!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div style="border:1px solid gold" class="col-12 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h4 style="color:gold;line-height:60px" class="text-center m-0 font-weight-bold">Q.</h4>
                    </div>
                    <div class="col-9 p-0 text-white">
                        <h5 class="my-2 ml-3">예약은 완료되었은데 언제까지 도착하면 되나요 ?</h5>
                    </div>
                    <div class="col-2 p-0">
                        <a href="javascript:togle4();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna4" style="display:none;background-color:white" >
                            A.
                            <br>
                            저희 무비이스케이프는 영화를 모티브로 만들어진 신개념 방탈출카페입니다!<br>
                            어린아이 남녀노소 누구나 이용할 수 있으며 가족단위로 체험 하시는 분들도 많으니 걱정하지마시고<br>
                            <br>
                            많은 애용부탁드릴께요!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div style="border:1px solid gold" class="col-12 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h4 style="color:gold;line-height:60px" class="text-center m-0 font-weight-bold">Q.</h4>
                    </div>
                    <div class="col-9 p-0 text-white">
                        <h5 class="my-2 ml-3">가격안내</h5>
                    </div>
                    <div class="col-2 p-0">
                        <a href="javascript:togle5();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-3 qna5" style="display:none;background-color:white">
                            A.<br>
                            * 무비이스케이프 의 입장료입니다.<br>
                            * 인원수에 대한 할인금액은 아래를 참조하세요 ^^<br>
                            * Facebook 좋아요&공유하기 하면 1인당 1,000원씩 할인!!<br>
                            <table class="table table-bordered text-center">
                              <thead class="thead-dark">
                                <tr>
                                  <th style="width:13%" scope="col">인원수</th>
                                  <th style="width:10%" scope="col">현금</th>
                                  <th style="width:10%" scope="col">카드</th>
                                  <th scope="col">가격 이벤트</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">2명</th>
                                  <td>20,000</td>
                                  <td>22,000</td>
                                  <td rowspan="7">
                                    <h5 class="font-weight-bold">4방 체험 시:제주왕복항공+ 48시간 렌트 or 요트여행권 증정</h4></li><br>
                                    <h5 class="font-weight-bold">성인 단체 (15명 이상) : 50% 할인</h5>
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row">3명</th>
                                  <td>18,000</td>
                                  <td>20,000</td>
                                </tr>
                                <tr>
                                  <th scope="row">4명</th>
                                  <td>16,000</td>
                                  <td>18,000</td>
                                </tr>
                                <tr>
                                  <th scope="row">5명</th>
                                  <td>14,000</td>
                                  <td>16,000</td>
                                </tr>
                                <tr>
                                  <th scope="row">6명</th>
                                  <td>13,000</td>
                                  <td>15,000</td>
                                </tr>
                                <tr>
                                  <th scope="row">중ㆍ고생</th>
                                  <td>13,000</td>
                                  <td>15,000</td>
                                </tr>
                                <tr>
                                  <th scope="row">초등생</th>
                                  <td>10,000</td>
                                  <td>12,000</td>
                                </tr>
                              </tbody>
                            </table>
                            * 특별한 이벤트를 원하시면 바로 전화 문의주세요 ^^ 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div style="border:1px solid gold" class="col-12 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h4 style="color:gold;line-height:60px" class="text-center m-0 font-weight-bold">Q.</h4>
                    </div>
                    <div class="col-9 p-0 text-white">
                        <h5 class="my-2 ml-3">입장 제한 및 환불 불가 안내</h5>
                    </div>
                    <div class="col-2 p-0">
                        <a href="javascript:togle6();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna6" style="display:none;background-color:white" >
                            A.
                            <br>
                            <ul>
                                <li>지각 및 No Show<br>
                                미션은 시간대 별 예약으로 진행되어, 시작 최소 10분 전에 도착하는 것이 중요합니다.
                                No show(불참)의 경우 환불은 되지 않습니다.</li>
                                <li> 미성년자<br>
                                미션 중 연령 제한이 있는 경우가 있으니 예약시 반드시 확인해 주세요.
                                19세이상 게임의 경우 신분증 제시를 요청할 수 있습니다.</li>
                                <li>과도한 음주자<br>
                                쾌적한 환경을 위해 혈중 알코올 농도 0.1% 이상인 경우 입장이 제한 될 수 있습니다.
                                (게임 전 음주 측정 요구 가능)</li>
                                <li>폐소공포증 및 심장 질환자, 임산부<br>
                                미션을 수행하기 위한 공간은 해당 테마에 맞춰 최대한 리얼리티를 살리도록 설계 되어,
                                게임시간 동안 경우에 따라 공간이 폐쇄되어 갇히거나 참여자의 신체가 구속될 수 있으므로
                                관련된 질병이나 신체장애가 있는 분들은 참여가 어렵습니다.</li>
                                <li>기밀누설<br>
                                법적인 책임 이전에 아직 미션을 경험해 보지 못한 분들을 배려하여,
                                미션을 진행하는 동안 경험한 퀴즈나 퍼즐 등 세부적인 이야기는 팀원들끼리만 공유 부탁드려요.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div style="border:1px solid gold" class="col-12 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h4 style="color:gold;line-height:60px" class="text-center m-0 font-weight-bold">Q.</h4>
                    </div>
                    <div class="col-9 p-0 text-white">
                        <h5 class="my-2 ml-3">게임 도중 몸 상태가 안좋아지면 어떡하나요?</h5>
                    </div>
                    <div class="col-2 p-0">
                        <a href="javascript:togle7();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna7" style="display:none;background-color:white" >
                            A.
                            <br>
                            저희 무비이스케이프는 영화를 모티브로 만들어진 신개념 방탈출카페입니다!<br>
                            어린아이 남녀노소 누구나 이용할 수 있으며 가족단위로 체험 하시는 분들도 많으니 걱정하지마시고<br>
                            <br>
                            많은 애용부탁드릴께요!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div style="border:1px solid gold" class="col-12 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h4 style="color:gold;line-height:60px" class="text-center m-0 font-weight-bold">Q.</h4>
                    </div>
                    <div class="col-9 p-0 text-white">
                        <h5 class="my-2 ml-3">방탈출 게임은 처음인데 어떻게 하면 되나요?</h5>
                    </div>
                    <div class="col-2 p-0">
                        <a href="javascript:togle8();"><button style="width:100%;height:100%" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="p-4 qna8" style="display:none;background-color:white" >
                            A.
                            <br>
                            저희 무비이스케이프는 영화를 모티브로 만들어진 신개념 방탈출카페입니다!<br>
                            어린아이 남녀노소 누구나 이용할 수 있으며 가족단위로 체험 하시는 분들도 많으니 걱정하지마시고<br>
                            <br>
                            많은 애용부탁드릴께요!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}